In [5]:
import os
from dotenv import load_dotenv
import json
import requests
import re
load_dotenv()
import pandas as pd

In [2]:
from amadeus import Client, ResponseError

amadeus = Client(
    client_id='EpkeaqoOnZoGGZTVTMn5T9h1tfDgLHVo',
    client_secret='9A8LUOrsKaxJ9N7E'
)

try:
    response = amadeus.shopping.flight_offers_search.get(
        originLocationCode='SYD',
        destinationLocationCode='BKK',
        departureDate='2020-10-01',
        adults=1)
    print(response.data)
except ResponseError as error:
    print(error)

[400]

### ¿MONTAÑA O PLAYA?

In [23]:
mountain = amadeus.media.files.generated_photos.get(category= 'MOUNTAIN' )
mountain

In [24]:
mountain.status_code

200

In [27]:
df_mountain = pd.DataFrame(mountain.data)
df_mountain

,self,type,attachmentUri,description,expirationDateTime,fileKbSize,mediaMetadata
href,https://test.api.amadeus.com/v2/media/files/ge...,file,https://public-test-picador.1a-lab.net/d565fb1...,generated mountain landscape,2020-11-09T21:43:25Z,505,NaN
methods,[GET],file,https://public-test-picador.1a-lab.net/d565fb1...,generated mountain landscape,2020-11-09T21:43:25Z,505,NaN
dimensions,NaN,file,https://public-test-picador.1a-lab.net/d565fb1...,generated mountain landscape,2020-11-09T21:43:25Z,505,"{'UOM': 'Pixels', 'height': 512, 'width': 512}"

### BUSCABA VUELOS A AUSTRALIA POR LO QUE ESTOS DATOS NO SIRVEN

In [45]:
australia = amadeus.travel.analytics.air_traffic.traveled.get(originCityCode='AUS', period='2018-01')
australia

In [46]:
df_australia = pd.DataFrame(australia.data)
df_australia

,type,destination,subType,analytics
0,air-traffic,DEN,TRAVELED,"{'flights': {'score': 64}, 'travelers': {'scor..."
1,air-traffic,SFO,TRAVELED,"{'flights': {'score': 100}, 'travelers': {'sco..."
2,air-traffic,SEA,TRAVELED,"{'flights': {'score': 25}, 'travelers': {'scor..."
3,air-traffic,FRA,TRAVELED,"{'flights': {'score': 34}, 'travelers': {'scor..."
4,air-traffic,CUN,TRAVELED,"{'flights': {'score': 12}, 'travelers': {'scor..."
5,air-traffic,SJO,TRAVELED,"{'flights': {'score': 16}, 'travelers': {'scor..."
6,air-traffic,MAA,TRAVELED,"{'flights': {'score': 13}, 'travelers': {'scor..."
7,air-traffic,LIM,TRAVELED,"{'flights': {'score': 1}, 'travelers': {'score..."

In [47]:
df_australia.analytics

0    {'flights': {'score': 64}, 'travelers': {'scor...
1    {'flights': {'score': 100}, 'travelers': {'sco...
2    {'flights': {'score': 25}, 'travelers': {'scor...
3    {'flights': {'score': 34}, 'travelers': {'scor...
4    {'flights': {'score': 12}, 'travelers': {'scor...
5    {'flights': {'score': 16}, 'travelers': {'scor...
6    {'flights': {'score': 13}, 'travelers': {'scor...
7    {'flights': {'score': 1}, 'travelers': {'score...
Name: analytics, dtype: object

### OFERTA DE HOTLES EN AUSTRALIA

In [50]:
hotel_offers = amadeus.shopping.hotel_offers.get(cityCode='AUS')
hotel_offers

In [51]:
df_hotel_offers = pd.DataFrame(hotel_offers.data)
df_hotel_offers

,type,hotel,available,offers,self
0,hotel-offers,"{'type': 'hotel', 'hotelId': 'ICAUSICA', 'chai...",True,"[{'id': 'I7XJQJ9JS7', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
1,hotel-offers,"{'type': 'hotel', 'hotelId': 'WIAUS899', 'chai...",True,"[{'id': 'T4EXPE5I2J', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
2,hotel-offers,"{'type': 'hotel', 'hotelId': 'RCAUSRDR', 'chai...",True,"[{'id': 'DN7P5IHJEO', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
3,hotel-offers,"{'type': 'hotel', 'hotelId': 'OMAUSCTR', 'chai...",True,"[{'id': 'TCB6WHPL1H', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
4,hotel-offers,"{'type': 'hotel', 'hotelId': 'EAAUS109', 'chai...",True,"[{'id': 'SU1M761COJ', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
5,hotel-offers,"{'type': 'hotel', 'hotelId': 'WHAUS224', 'chai...",True,"[{'id': 'VI6I7SG5BB', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
6,hotel-offers,"{'type': 'hotel', 'hotelId': 'SIAUS079', 'chai...",True,"[{'id': 'TKNLRZ2WL3', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
7,hotel-offers,"{'type': 'hotel', 'hotelId': 'HIAUS211', 'chai...",True,"[{'id': 'ETDVGK2XW6', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...

In [53]:
type(df_hotel_offers.offers)

pandas.core.series.Series

In [114]:
hotel_offers = list(df_hotel_offers.offers)
hotel_offers

[[{'id': 'I7XJQJ9JS7',
   'checkInDate': '2020-11-08',
   'checkOutDate': '2020-11-09',
   'rateCode': 'U9A',
   'rateFamilyEstimated': {'code': 'GOV', 'type': 'C'},
   'room': {'type': '*1Q',
    'typeEstimated': {'category': 'STANDARD_ROOM',
     'beds': 1,
     'bedType': 'QUEEN'},
    'description': {'text': 'GOVERNMENT RATE AVAILABLE FOR US FEDERAL GOVERNMENT EMPLOYEES WITH VALID ID IF NO VALID TRADITIONAL 1 QUEEN QUEEN SIZE PILLOW TOP BED  '}},
   'guests': {'adults': 1},
   'price': {'currency': 'USD',
    'base': '140.00',
    'total': '163.80',
    'variations': {'average': {'base': '140.00'},
     'changes': [{'startDate': '2020-11-08',
       'endDate': '2020-11-09',
       'base': '140.00'}]}},
   'policies': {'guarantee': {'acceptedPayments': {'creditCards': ['AX',
       'VI',
       'CA',
       'DC',
       'CB',
       'JC',
       'DS'],
      'methods': ['CREDIT_CARD']}},
    'paymentType': 'guarantee',
    'cancellation': {'numberOfNights': 1,
     'deadline': '2020-11-08T18:00:00-06:00'}}}],
 [{'id': 'T4EXPE5I2J',
   'checkInDate': '2020-11-08',
   'checkOutDate': '2020-11-09',
   'rateCode': 'S9R',
   'rateFamilyEstimated': {'code': 'SRS', 'type': 'C'},
   'room': {'type': 'XMI',
    'typeEstimated': {'category': 'STANDARD_ROOM',
     'beds': 2,
     'bedType': 'QUEEN'},
    'description': {'text': 'Marriott Senior Discount, includes 62 years and older valid ID  Two Queen Guest Room, 2 Queen, Mini fridge, 350 sqft/32sqm, Wireless internet, for a fee, Wired'}},
   'guests': {'adults': 1},
   'price': {'currency': 'USD',
    'base': '161.00',
    'total': '189.36',
    'variations': {'average': {'base': '161.00'},
     'changes': [{'startDate': '2020-11-08',
       'endDate': '2020-11-09',
       'base': '161.00'}]}},
   'policies': {'paymentType': 'guarantee',
    'cancellation': {'deadline': '2020-11-07T23:59:00-06:00'}}}],
 [{'id': 'DN7P5IHJEO',
   'checkInDate': '2020-11-08',
   'checkOutDate': '2020-11-09',
   'rateCode': 'S9R',
   'rateFamilyEstimated': {'code': 'SRS', 'type': 'C'},
   'room': {'type': 'XMI',
    'typeEstimated': {'category': 'STANDARD_ROOM',
     'beds': 1,
     'bedType': 'QUEEN'},
    'description': {'text': 'Marriott Senior Discount, includes 62 years and older valid ID  1 Queen, Sofa bed, Microwave, 424sqft/38sqm, Li ving/sitting area, Dining area, Wireless intern'}},
   'guests': {'adults': 1},
   'price': {'currency': 'USD',
    'base': '118.00',
    'total': '138.78',
    'variations': {'average': {'base': '118.00'},
     'changes': [{'startDate': '2020-11-08',
       'endDate': '2020-11-09',
       'base': '118.00'}]}},
   'policies': {'paymentType': 'guarantee',
    'cancellation': {'numberOfNights': 1,
     'deadline': '2020-11-06T23:59:00-06:00'}}}],
 [{'id': 'TCB6WHPL1H',
   'checkInDate': '2020-11-08',
   'checkOutDate': '2020-11-09',
   'rateCode': 'DBR',
   'rateFamilyEstimated': {'code': 'BAR', 'type': 'P'},
   'commission': {'percentage': '10.00'},
   'room': {'type': 'DKR',
    'typeEstimated': {'category': 'ACCESSIBLE_ROOM',
     'beds': 1,
     'bedType': 'KING'},
    'description': {'text': 'Daily Flexible Rate ACCESSIBLE DELUXE W ROLL IN SHOWER 1 KING BED FULL FEATURES AVAIL BY CALLING 800 THE OMNI'}},
   'guests': {'adults': 1},
   'price': {'currency': 'USD',
    'base': '119.00',
    'total': '139.23',
    'variations': {'average': {'base': '119.00'},
     'changes': [{'startDate': '2020-11-08',
       'endDate': '2020-11-09',
       'base': '119.00'}]}},
   'policies': {'paymentType': 'guarantee',
    'cancellation': {'deadline': '2020-11-07T12:00:00-06:00'}}}],
 [{'id': 'SU1M761COJ',
   'checkInDate': '2020-11-08',
   'checkOutDate': '2020-11-09',
   'rateCode': 'RAC',
   'room': {'type': 'A07',
    'typeEstimated': {'category': 'STUDIO', 'beds': 1, 'bedType': 'QUEEN'},
    'description': {'text': 'NIGHTLY VALUE RATE STANDARD STUDIO 1 QUEEN BED NONSMKNG FREE WIFI AND GRAB AND GO BKFST 32IN LCD TV'}},
   'guests': {'adults': 1},
   'price': {'currency': 'USD',
    'base': '139.99',
    'total': '160.99',
    'variations': {'average': {'base': '139.99'},
     'changes': [{'startDate': '2020-11-08',
       'endDate': '2020-11-09',
       'base': '139.99'}]}},
   'policies': {'paymentType': 'guarantee',
    'cancellation': {'deadline': '2020-11-08T18:00:00-06:00'}}}],
 [{'id': 'VI6I7SG5BB',
   'checkInDate': '2020-11-08',
   'checkOutDate': '2020-11-09',
   'rateCode': 'S9R',
   'rateFamilyEstimated': {'code': 'SRS', 'type': 'C'},
   'room': {'type': 'XMI',
    'typeEstimated': {'category': 'STANDARD_ROOM',
     'beds': 1,
     'bedType': 'QUEEN'},
    'description': {'text': 'Marriott Senior Discount, includes 62 years and older valid ID  Cozy Queen Room, 1 Queen, Wireless internet, fo r a fee, Wired internet, for a fee, Coffee/tea '}},
   'guests': {'adults': 1},
   'price': {'currency': 'USD',
    'base': '347.65',
    'total': '406.75',
    'variations': {'average': {'base': '347.65'},
     'changes': [{'startDate': '2020-11-08',
       'endDate': '2020-11-09',
       'base': '347.65'}]}},
   'policies': {'paymentType': 'guarantee',
    'cancellation': {'deadline': '2020-11-07T23:59:00-06:00'}}}],
 [{'id': 'TKNLRZ2WL3',
   'checkInDate': '2020-11-08',
   'checkOutDate': '2020-11-09',
   'rateCode': 'RAC',
   'rateFamilyEstimated': {'code': 'BAR', 'type': 'P'},
   'room': {'type': 'REG',
    'typeEstimated': {'category': 'STANDARD_ROOM',
     'beds': 2,
     'bedType': 'DOUBLE'},
    'description': {'text': 'Flexible Rate Traditional Guest Room, 2 Double, Mini fridge,  275sqft/25sqm, Wireless internet, for a fee, Wi'}},
   'guests': {'adults': 1},
   'price': {'currency': 'USD',
    'base': '159.00',
    'total': '191.79',
    'variations': {'average': {'base': '159.00'},
     'changes': [{'startDate': '2020-11-08',
       'endDate': '2020-11-09',
       'base': '159.00'}]}},
   'policies': {'paymentType': 'guarantee'}}],
 [{'id': 'ETDVGK2XW6',
   'checkInDate': '2020-11-08',
   'checkOutDate': '2020-11-09',
   'rateCode': '22A',
   'rateFamilyEstimated': {'code': 'BAR', 'type': 'P'},
   'room': {'type': '*1K',
    'typeEstimated': {'category': 'STANDARD_ROOM',
     'beds': 1,
     'bedType': 'KING'},
    'description': {'text': 'BEST FLEXIBLE RATE 1 King Standard 315 sq/ft space to work or just relax where you can get a great night of sleep'}},
   'guests': {'adults': 1},
   'price': {'currency': 'USD',
    'base': '129.00',
    'total': '150.93',
    'variations': {'average': {'base': '129.00'},
     'changes': [{'startDate': '2020-11-08',
       'endDate': '2020-11-09',
       'base': '129.00'}]}},
   'policies': {'guarantee': {'acceptedPayments': {'creditCards': ['AX',
       'VI',
       'CA',
       'DC',
       'CB',
       'JC',
       'DS'],
      'methods': ['CREDIT_CARD']}},
    'paymentType': 'guarantee',
    'cancellation': {'numberOfNights': 1,
     'deadline': '2020-11-08T18:00:00-06:00'}}}]]

In [115]:
len(hotel_offers)

8

In [82]:
type(df_hotel_offers.offers)

pandas.core.series.Series

In [59]:
offer1 = list(df_hotel_offers.offers)[0]
offer1

[{'id': 'I7XJQJ9JS7',
  'checkInDate': '2020-11-08',
  'checkOutDate': '2020-11-09',
  'rateCode': 'U9A',
  'rateFamilyEstimated': {'code': 'GOV', 'type': 'C'},
  'room': {'type': '*1Q',
   'typeEstimated': {'category': 'STANDARD_ROOM',
    'beds': 1,
    'bedType': 'QUEEN'},
   'description': {'text': 'GOVERNMENT RATE AVAILABLE FOR US FEDERAL GOVERNMENT EMPLOYEES WITH VALID ID IF NO VALID TRADITIONAL 1 QUEEN QUEEN SIZE PILLOW TOP BED  '}},
  'guests': {'adults': 1},
  'price': {'currency': 'USD',
   'base': '140.00',
   'total': '163.80',
   'variations': {'average': {'base': '140.00'},
    'changes': [{'startDate': '2020-11-08',
      'endDate': '2020-11-09',
      'base': '140.00'}]}},
  'policies': {'guarantee': {'acceptedPayments': {'creditCards': ['AX',
      'VI',
      'CA',
      'DC',
      'CB',
      'JC',
      'DS'],
     'methods': ['CREDIT_CARD']}},
   'paymentType': 'guarantee',
   'cancellation': {'numberOfNights': 1,
    'deadline': '2020-11-08T18:00:00-06:00'}}}]

In [65]:
offer1_1 = list(offer1)[0]
offer1_1

{'id': 'I7XJQJ9JS7',
 'checkInDate': '2020-11-08',
 'checkOutDate': '2020-11-09',
 'rateCode': 'U9A',
 'rateFamilyEstimated': {'code': 'GOV', 'type': 'C'},
 'room': {'type': '*1Q',
  'typeEstimated': {'category': 'STANDARD_ROOM',
   'beds': 1,
   'bedType': 'QUEEN'},
  'description': {'text': 'GOVERNMENT RATE AVAILABLE FOR US FEDERAL GOVERNMENT EMPLOYEES WITH VALID ID IF NO VALID TRADITIONAL 1 QUEEN QUEEN SIZE PILLOW TOP BED  '}},
 'guests': {'adults': 1},
 'price': {'currency': 'USD',
  'base': '140.00',
  'total': '163.80',
  'variations': {'average': {'base': '140.00'},
   'changes': [{'startDate': '2020-11-08',
     'endDate': '2020-11-09',
     'base': '140.00'}]}},
 'policies': {'guarantee': {'acceptedPayments': {'creditCards': ['AX',
     'VI',
     'CA',
     'DC',
     'CB',
     'JC',
     'DS'],
    'methods': ['CREDIT_CARD']}},
  'paymentType': 'guarantee',
  'cancellation': {'numberOfNights': 1,
   'deadline': '2020-11-08T18:00:00-06:00'}}}

In [68]:
len(offer1_1)

9

In [71]:
type(offer1_1)

dict

In [73]:
offer1_1.keys()

dict_keys(['id', 'checkInDate', 'checkOutDate', 'rateCode', 'rateFamilyEstimated', 'room', 'guests', 'price', 'policies'])

In [76]:
offer1_1.get("checkInDate")

'2020-11-08'

In [113]:
df_offer1_1 = pd.DataFrame(offer1_1)
df_offer1_1

,id,checkInDate,checkOutDate,rateCode,rateFamilyEstimated,room,guests,price,policies
code,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,GOV,NaN,NaN,NaN,NaN
type,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,C,*1Q,NaN,NaN,NaN
typeEstimated,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,"{'category': 'STANDARD_ROOM', 'beds': 1, 'bedT...",NaN,NaN,NaN
description,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,{'text': 'GOVERNMENT RATE AVAILABLE FOR US FED...,NaN,NaN,NaN
adults,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,NaN,1.0,NaN,NaN
currency,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,NaN,NaN,USD,NaN
base,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,NaN,NaN,140.00,NaN
total,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,NaN,NaN,163.80,NaN
variations,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,NaN,NaN,"{'average': {'base': '140.00'}, 'changes': [{'...",NaN
guarantee,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,NaN,NaN,NaN,"{'acceptedPayments': {'creditCards': ['AX', 'V..."
paymentType,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,NaN,NaN,NaN,guarantee
cancellation,I7XJQJ9JS7,2020-11-08,2020-11-09,U9A,NaN,NaN,NaN,NaN,"{'numberOfNights': 1, 'deadline': '2020-11-08T..."

* COMO ODEMOS OBSERVAR TODAS LAS OFERTAR DE HOTELES SE ENCUENTRAN ENTRE AGOSTO Y SEPTIEMBRE
* UNA RAZON PODRÍA SER POR EL CLIMA PORQUE EN AUSTRALIA DURANTE ESOS MESES ES INVIERNO Y TIENE MENOS TURISMO
* PERO NOSOTROS VAMOS A INTENTAR BUSCAR UNA RAZON A UNA DE LAS COMPETENCIAS DE LOS HOTELES --> AIRBNB

##### LAS 7 OFERTAS MÁS

In [116]:
offer1_2 = list(offer1)[1]
offer1_3 = list(offer1)[2]
offer1_4 = list(offer1)[3]
offer1_5 = list(offer1)[4]
offer1_6 = list(offer1)[5]
offer1_7 = list(offer1)[6]
offer1_8 = list(offer1)[7]

##### OFERTA 2

In [117]:
df_offer1_2 = pd.DataFrame(offer1_2)
df_offer1_2

,id,checkInDate,checkOutDate,rateCode,rateFamilyEstimated,room,guests,price,policies
0,T4EXPE5I2J,2020-11-08,2020-11-09,S9R,"{'code': 'SRS', 'type': 'C'}","{'type': 'XMI', 'typeEstimated': {'category': ...",{'adults': 1},"{'currency': 'USD', 'base': '161.00', 'total':...","{'paymentType': 'guarantee', 'cancellation': {..."

##### OFERTA 3

In [118]:
df_offer1_3 = pd.DataFrame(offer1_3)
df_offer1_3

,id,checkInDate,checkOutDate,rateCode,rateFamilyEstimated,room,guests,price,policies
0,DN7P5IHJEO,2020-11-08,2020-11-09,S9R,"{'code': 'SRS', 'type': 'C'}","{'type': 'XMI', 'typeEstimated': {'category': ...",{'adults': 1},"{'currency': 'USD', 'base': '118.00', 'total':...","{'paymentType': 'guarantee', 'cancellation': {..."

##### OFERTA 4

In [119]:
df_offer1_4 = pd.DataFrame(offer1_4)
df_offer1_4

,id,checkInDate,checkOutDate,rateCode,rateFamilyEstimated,commission,room,guests,price,policies
0,TCB6WHPL1H,2020-11-08,2020-11-09,DBR,"{'code': 'BAR', 'type': 'P'}",{'percentage': '10.00'},"{'type': 'DKR', 'typeEstimated': {'category': ...",{'adults': 1},"{'currency': 'USD', 'base': '119.00', 'total':...","{'paymentType': 'guarantee', 'cancellation': {..."

##### OFERTA 5

In [120]:
df_offer1_5 = pd.DataFrame(offer1_5)
df_offer1_5

,id,checkInDate,checkOutDate,rateCode,room,guests,price,policies
0,SU1M761COJ,2020-11-08,2020-11-09,RAC,"{'type': 'A07', 'typeEstimated': {'category': ...",{'adults': 1},"{'currency': 'USD', 'base': '139.99', 'total':...","{'paymentType': 'guarantee', 'cancellation': {..."

##### OFERTA 6

In [121]:
df_offer1_6 = pd.DataFrame(offer1_6)
df_offer1_6

,id,checkInDate,checkOutDate,rateCode,rateFamilyEstimated,room,guests,price,policies
0,VI6I7SG5BB,2020-11-08,2020-11-09,S9R,"{'code': 'SRS', 'type': 'C'}","{'type': 'XMI', 'typeEstimated': {'category': ...",{'adults': 1},"{'currency': 'USD', 'base': '347.65', 'total':...","{'paymentType': 'guarantee', 'cancellation': {..."

##### OFERTA 7

In [122]:
df_offer1_7 = pd.DataFrame(offer1_7)
df_offer1_7

,id,checkInDate,checkOutDate,rateCode,rateFamilyEstimated,room,guests,price,policies
0,TKNLRZ2WL3,2020-11-08,2020-11-09,RAC,"{'code': 'BAR', 'type': 'P'}","{'type': 'REG', 'typeEstimated': {'category': ...",{'adults': 1},"{'currency': 'USD', 'base': '159.00', 'total':...",{'paymentType': 'guarantee'}

##### OFERTA 8

In [123]:
df_offer1_8 = pd.DataFrame(offer1_8)
df_offer1_8

,id,checkInDate,checkOutDate,rateCode,rateFamilyEstimated,room,guests,price,policies
0,ETDVGK2XW6,2020-11-08,2020-11-09,22A,"{'code': 'BAR', 'type': 'P'}","{'type': '*1K', 'typeEstimated': {'category': ...",{'adults': 1},"{'currency': 'USD', 'base': '129.00', 'total':...",{'guarantee': {'acceptedPayments': {'creditCar...

### PRICE METRICS

In [138]:
response = amadeus.analytics.itinerary_price_metrics.get(originIataCode='MAD', destinationIataCode='AUS',
                                            departureDate='2021-03-21')

In [140]:
response.json()

AttributeError: 'Response' object has no attribute 'json'