## API AMADEUS

In [1]:
import os
from dotenv import load_dotenv
import requests
import re
load_dotenv()
import pandas as pd

In [2]:
from amadeus import Client, ResponseError

amadeus = Client(
    client_id='EpkeaqoOnZoGGZTVTMn5T9h1tfDgLHVo',
    client_secret='9A8LUOrsKaxJ9N7E'
)

try:
    response = amadeus.shopping.flight_offers_search.get(
        originLocationCode='SYD',
        destinationLocationCode='BKK',
        departureDate='2020-10-01',
        adults=1)
    print(response.data)
except ResponseError as error:
    print(error)

[400]

### OFERTA DE HOTELES EN MADRID

In [73]:
hotel_offers = amadeus.shopping.hotel_offers.get(cityCode='MAD')
hotel_offers

In [84]:
print(hotel_offers)

<amadeus.client.response.Response object at 0x000001EFD1174160>

In [83]:
hotel_offers.status_code

200

In [74]:
df_hotel_offers = pd.DataFrame(hotel_offers.data)
df_hotel_offers

,type,hotel,available,offers,self
0,hotel-offers,"{'type': 'hotel', 'hotelId': 'HAMADGEN', 'chai...",True,"[{'id': '4W8HGU9ZQR', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
1,hotel-offers,"{'type': 'hotel', 'hotelId': 'HAMADCOL', 'chai...",True,"[{'id': 'JLM1M6QKME', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
2,hotel-offers,"{'type': 'hotel', 'hotelId': 'HSMADAIR', 'chai...",True,"[{'id': '2VQAZL4LR3', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
3,hotel-offers,"{'type': 'hotel', 'hotelId': 'HSMADAIO', 'chai...",True,"[{'id': '7VZVSVP2UF', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
4,hotel-offers,"{'type': 'hotel', 'hotelId': 'HSMADAUW', 'chai...",True,"[{'id': '9T1BV3H134', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
5,hotel-offers,"{'type': 'hotel', 'hotelId': 'KYMADGRA', 'chai...",True,"[{'id': 'W5F2FENZFV', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...
6,hotel-offers,"{'type': 'hotel', 'hotelId': 'HAMADS33', 'chai...",True,"[{'id': '2NQ1YJCO1N', 'checkInDate': '2020-11-...",https://test.api.amadeus.com/v2/shopping/hotel...

In [90]:
list(df_hotel_offers.offers)

[[{'id': '4W8HGU9ZQR',
   'checkInDate': '2020-11-09',
   'checkOutDate': '2020-11-10',
   'rateCode': 'LPR',
   'rateFamilyEstimated': {'code': 'BAR', 'type': 'P'},
   'commission': {'percentage': '10'},
   'room': {'type': 'B1S',
    'typeEstimated': {'category': 'STANDARD_ROOM',
     'beds': 1,
     'bedType': 'SINGLE'},
    'description': {'text': 'BEST AVAILABLE RATE SINGLE ONLY ROOM Room Only'}},
   'guests': {'adults': 1},
   'price': {'currency': 'EUR',
    'total': '78.00',
    'variations': {'average': {'total': '78.00'},
     'changes': [{'startDate': '2020-11-09',
       'endDate': '2020-11-10',
       'total': '78.00'}]}},
   'policies': {'deposit': {'acceptedPayments': {'creditCards': ['AX',
       'CA',
       'EC',
       'IK',
       'JC',
       'MC',
       'VI'],
      'methods': ['CREDIT_CARD']}},
    'paymentType': 'deposit'}}],
 [{'id': 'JLM1M6QKME',
   'checkInDate': '2020-11-09',
   'checkOutDate': '2020-11-10',
   'rateCode': 'LPR',
   'rateFamilyEstimated': {'code': 'BAR', 'type': 'P'},
   'commission': {'percentage': '10'},
   'room': {'type': 'S1A',
    'typeEstimated': {'category': 'STANDARD_ROOM'},
    'description': {'text': 'BEST AVAILABLE RATE SMART ROOM 1 PAX ONLY BED Room Only'}},
   'guests': {'adults': 1},
   'price': {'currency': 'EUR',
    'total': '117.00',
    'variations': {'average': {'total': '117.00'},
     'changes': [{'startDate': '2020-11-09',
       'endDate': '2020-11-10',
       'total': '117.00'}]}},
   'policies': {'deposit': {'acceptedPayments': {'creditCards': ['AX',
       'CA',
       'IK',
       'JC',
       'MC',
       'VI',
       'DC',
       'EC'],
      'methods': ['CREDIT_CARD']}},
    'paymentType': 'deposit'}}],
 [{'id': '2VQAZL4LR3',
   'checkInDate': '2020-11-09',
   'checkOutDate': '2020-11-10',
   'rateCode': 'PRO',
   'rateFamilyEstimated': {'code': 'PRO', 'type': 'P'},
   'commission': {'percentage': '4.00'},
   'room': {'type': 'ROH',
    'typeEstimated': {'category': 'STANDARD_ROOM'},
    'description': {'text': 'Hot Deal Standard room A standard room consists of a room with shower-toilet or bathtub-toilet.'}},
   'guests': {'adults': 1},
   'price': {'currency': 'EUR',
    'total': '48.00',
    'variations': {'average': {'total': '48.00'},
     'changes': [{'startDate': '2020-11-09',
       'endDate': '2020-11-10',
       'total': '48.00'}]}},
   'policies': {'deposit': {'acceptedPayments': {'creditCards': ['VI',
       'MC',
       'CA',
       'JC'],
      'methods': ['CREDIT_CARD']}},
    'paymentType': 'deposit',
    'cancellation': {'deadline': '2020-10-18T12:24:00+01:00'}}}],
 [{'id': '7VZVSVP2UF',
   'checkInDate': '2020-11-09',
   'checkOutDate': '2020-11-10',
   'rateCode': 'PRO',
   'commission': {'percentage': '4.00'},
   'room': {'type': 'ROH',
    'typeEstimated': {'category': 'COMFORT_ROOM',
     'beds': 1,
     'bedType': 'TWIN'},
    'description': {'text': 'Single Room - Extra-person charges may apply and vary depending  Standard room 1 Twin Bed75 sq feet Internet - Free WiFi Bathroom - Private bathroom, a hair dryer, and a showerPractical - Safe, free newspaper, and deskComfort - Climate-controlled air conditioningNeed to Know - No cribs (infant beds) availableNon-Smoking'}},
   'guests': {'adults': 1},
   'price': {'currency': 'EUR',
    'total': '45.00',
    'variations': {'average': {'total': '45.00'},
     'changes': [{'startDate': '2020-11-09',
       'endDate': '2020-11-10',
       'total': '45.00'}]}},
   'policies': {'guarantee': {'acceptedPayments': {'creditCards': ['VI',
       'MC',
       'CA',
       'AX'],
      'methods': ['CREDIT_CARD']}},
    'paymentType': 'guarantee',
    'cancellation': {'numberOfNights': 1,
     'deadline': '2020-10-18T12:24:00+01:00'}}}],
 [{'id': '9T1BV3H134',
   'checkInDate': '2020-11-09',
   'checkOutDate': '2020-11-10',
   'rateCode': 'RAC',
   'commission': {'percentage': '4.00'},
   'room': {'type': 'ROH',
    'typeEstimated': {'category': 'STANDARD_ROOM'},
    'description': {'text': 'Event-Rate Standard room A standard room consists of a room with shower-toilet or bathtub-toilet.'}},
   'guests': {'adults': 1},
   'price': {'currency': 'EUR',
    'total': '65.00',
    'variations': {'average': {'total': '65.00'},
     'changes': [{'startDate': '2020-11-09',
       'endDate': '2020-11-10',
       'total': '65.00'}]}},
   'policies': {'guarantee': {'acceptedPayments': {'creditCards': ['DC',
       'DN',
       'VI',
       'MC',
       'CA',
       'AX',
       'JC'],
      'methods': ['CREDIT_CARD']}},
    'paymentType': 'guarantee',
    'cancellation': {'numberOfNights': 1,
     'deadline': '2020-11-06T22:59:00+01:00'}}}],
 [{'id': 'W5F2FENZFV',
   'checkInDate': '2020-11-09',
   'checkOutDate': '2020-11-10',
   'rateCode': 'LPR',
   'rateFamilyEstimated': {'code': 'BAR', 'type': 'P'},
   'commission': {'percentage': '11'},
   'room': {'type': 'ST2',
    'typeEstimated': {'category': 'STUDIO'},
    'description': {'text': 'BEST AVAILABLE RATE STUDIO 2 PAX'}},
   'guests': {'adults': 1},
   'price': {'currency': 'EUR',
    'total': '85.00',
    'variations': {'average': {'total': '85.00'},
     'changes': [{'startDate': '2020-11-09',
       'endDate': '2020-11-10',
       'total': '85.00'}]}},
   'policies': {'guarantee': {'acceptedPayments': {'methods': ['CREDIT_CARD']}},
    'paymentType': 'guarantee',
    'cancellation': {'deadline': '2020-11-08T12:00:00+01:00'}}}],
 [{'id': '2NQ1YJCO1N',
   'checkInDate': '2020-11-09',
   'checkOutDate': '2020-11-10',
   'rateCode': 'LPR',
   'rateFamilyEstimated': {'code': 'BAR', 'type': 'P'},
   'commission': {'percentage': '10'},
   'room': {'type': 'B2T',
    'typeEstimated': {'category': 'STANDARD_ROOM',
     'beds': 2,
     'bedType': 'SINGLE'},
    'description': {'text': 'BEST AVAILABLE RATE WITH FREE WIFI ACCESS. DOUBLE ROOM FOR SINGLE USE ONLY ROOM Room Only'}},
   'guests': {'adults': 1},
   'price': {'currency': 'EUR',
    'total': '105.00',
    'variations': {'average': {'total': '105.00'},
     'changes': [{'startDate': '2020-11-09',
       'endDate': '2020-11-10',
       'total': '105.00'}]}},
   'policies': {'guarantee': {'acceptedPayments': {'creditCards': ['AX',
       'CA',
       'EC',
       'IK',
       'JC',
       'MC',
       'VI'],
      'methods': ['CREDIT_CARD']}},
    'paymentType': 'guarantee',
    'cancellation': {'numberOfNights': 1,
     'deadline': '2020-11-09T02:09:00+01:00'}}}]]

In [110]:
# TENEMOS 7 OFERTAS DE HOTELES

len(list(df_hotel_offers.offers))

7

In [149]:
df_hotel_offers.offers[0][0]['guests']['adults']

1

##### SACAMOS EL PRECIO TOTAL DE CADA OFERTA

In [103]:
# Para ver dentro de que indice nos vamos a encontrar los precios totales
df_hotel_offers.offers[0][0]['price']['total']

'78.00'

In [91]:
#Creamos una lista nueva en donde vamos a meter todos los precios totales de las ofertas
#Recorremos nuestro lista de datos y solamente sacamos los precios
nueva_lista = []
for i in list(df_hotel_offers.offers):
    nueva_lista.append((i[0]['price']['total']))

In [104]:
# Creamos un dataframe con nuestros precios que es lo que queremos para luego juntarlo con otros datos que queramos 
# y tener una tabla limpia

df_precios = pd.DataFrame(nueva_lista)
df_precios

        0
0   78.00
1  117.00
2   48.00
3   45.00
4   65.00
5   85.00
6  105.00

##### SACAMOS LOS CHECKIN DATES DE CADA OFERTA

In [105]:
# Seguimos el mismo proceso que hemos hecho con los precios

checkIn_list =[]
for i in list(df_hotel_offers.offers):
    checkIn_list.append((i[0]['checkInDate']))

In [99]:
df_checkIn = pd.DataFrame(checkIn_list)
df_checkIn

            0
0  2020-11-09
1  2020-11-09
2  2020-11-09
3  2020-11-09
4  2020-11-09
5  2020-11-09
6  2020-11-09

##### SACAMOS LOS CHECKOUT DATES DE CADA OFERTA

In [107]:
checkOut_list =[]
for i in list(df_hotel_offers.offers):
    checkOut_list.append((i[0]['checkOutDate']))

In [108]:
df_checkOut = pd.DataFrame(checkOut_list)
df_checkOut

            0
0  2020-11-10
1  2020-11-10
2  2020-11-10
3  2020-11-10
4  2020-11-10
5  2020-11-10
6  2020-11-10

##### TYPE ROOM

In [139]:
df_hotel_offers.offers[0][0]['room']['typeEstimated']['category']

'STANDARD_ROOM'

In [141]:
type_room =[]
for i in list(df_hotel_offers.offers):
    type_room.append((i[0]['room']['typeEstimated']['category']))

In [142]:
df_type_room = pd.DataFrame(type_room)
df_type_room

               0
0  STANDARD_ROOM
1  STANDARD_ROOM
2  STANDARD_ROOM
3   COMFORT_ROOM
4  STANDARD_ROOM
5         STUDIO
6  STANDARD_ROOM

##### NUMERO DE GUESTS POR CADA ROOM

In [150]:
df_hotel_offers.offers[0][0]['guests']['adults']

1

In [151]:
nº_guests =[]
for i in list(df_hotel_offers.offers):
    nº_guests.append((i[0]['guests']['adults']))

In [152]:
df_nº_guests = pd.DataFrame(nº_guests)
df_nº_guests

   0
0  1
1  1
2  1
3  1
4  1
5  1
6  1

##### CONCATENAMOS NUESTROS DF

In [161]:
df_clean = pd.concat([df_checkIn, df_checkOut, df_precios, df_type_room, df_nº_guests], axis=1)
df_clean

            0           0       0              0  0
0  2020-11-09  2020-11-10   78.00  STANDARD_ROOM  1
1  2020-11-09  2020-11-10  117.00  STANDARD_ROOM  1
2  2020-11-09  2020-11-10   48.00  STANDARD_ROOM  1
3  2020-11-09  2020-11-10   45.00   COMFORT_ROOM  1
4  2020-11-09  2020-11-10   65.00  STANDARD_ROOM  1
5  2020-11-09  2020-11-10   85.00         STUDIO  1
6  2020-11-09  2020-11-10  105.00  STANDARD_ROOM  1

In [162]:
df_clean.columns = ['checkInDate', 'checkOutDate', 'TotalPrice', 'TypeRoom', 'Guests/room']
df_clean

  checkInDate checkOutDate TotalPrice       TypeRoom  Guests/room
0  2020-11-09   2020-11-10      78.00  STANDARD_ROOM            1
1  2020-11-09   2020-11-10     117.00  STANDARD_ROOM            1
2  2020-11-09   2020-11-10      48.00  STANDARD_ROOM            1
3  2020-11-09   2020-11-10      45.00   COMFORT_ROOM            1
4  2020-11-09   2020-11-10      65.00  STANDARD_ROOM            1
5  2020-11-09   2020-11-10      85.00         STUDIO            1
6  2020-11-09   2020-11-10     105.00  STANDARD_ROOM            1

In [165]:
# LA GUARDAMOS PARA PODER EXPORTAR NUESTRA TABLA CLEAN

df_clean.to_csv('api_clean.csv')

In [164]:
# DE PREUBA PARA VER QUE SE LEA LA TABLA

#df_clean = pd.read_csv('api_clean.csv')
#df_clean

   Unnamed: 0 checkInDate checkOutDate  TotalPrice       TypeRoom  Guests/room
0           0  2020-11-09   2020-11-10        78.0  STANDARD_ROOM            1
1           1  2020-11-09   2020-11-10       117.0  STANDARD_ROOM            1
2           2  2020-11-09   2020-11-10        48.0  STANDARD_ROOM            1
3           3  2020-11-09   2020-11-10        45.0   COMFORT_ROOM            1
4           4  2020-11-09   2020-11-10        65.0  STANDARD_ROOM            1
5           5  2020-11-09   2020-11-10        85.0         STUDIO            1
6           6  2020-11-09   2020-11-10       105.0  STANDARD_ROOM            1

### PRECIO MEDIO OFERTAS OVTUBRE 2020

In [159]:

clean["TotalPrice"] = clean["TotalPrice"].astype(float)
clean["TotalPrice"]

clean["TotalPrice"].mean()

77.57142857142857

* COMO PODEMOS OBSERVAR TODAS LAS OFERTAR DE HOTELES SE ENCUENTRAN ENTRE SEPTIEMBRE Y NOVIEMBRE
* UNA RAZON PODRÍA SER PORQUE EL PERIDO VACACIONAL YA HA TERMINADO Y HAY MENOS TURISMO 
* PERO NOSOTROS VAMOS A INTENTAR BUSCAR UNA RAZON RELACIONADA A UNA DE LAS MAYORES COMPETENCIAS DE LOS HOTELES --> AIRBNB

### LINKS UTILIZADOS PARA LA OBTENCIÓN Y LIMPIEZA DE LA API

- Solicitación de la API: https://developers.amadeus.com/get-started/get-started-with-self-service-apis-335
- Documentacion de la API: https://amadeus4dev.github.io/amadeus-python/index.html#shopping-hotels
- Git Hub de apoyo y más documentación de la API: https://github.com/amadeus4dev/amadeus-python
- Clases y apuntes utilizados para la ayuda de la limpieza de los datos de la API: https://github.com/leticia-sobrino/teaching-ironhack-data-madrid-2020